{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="2; URL=#">

    <title>Advanced Health Monitoring System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>

        .nav-link {
            font-size: 20px;
            color: white;
            margin-right: 30px;
        }

    </style>


</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <h1>IOT Based Smart Health Monitoring System</h1>
        </div>
    </div>

    <div class="row mt-0">
        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary ">
            <div class="container">
                <a style="color: white" class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <li class="nav-item">
                            <a id="download" class="nav-link" href="#">ECG Report</a>
                        </li>
                        <script>
                            document.getElementById('download').addEventListener('click', function () {
                                const canvas = document.getElementById('myLineChart');
                                const url = canvas.toDataURL('image/png');
                                const a = document.createElement('a');
                                a.href = url;
                                a.download = 'ECG.png';
                                a.click();
                            });
                        </script>

                        <li class="nav-item">
                            <a id="temp" class="nav-link" href="#">Temperature</a>
                            <script>
                                document.getElementById('temp').addEventListener('click', function () {
                                    const canvas = document.getElementById('myChart');
                                    const url = canvas.toDataURL('image/png');
                                    const a = document.createElement('a');
                                    a.href = url;
                                    a.download = 'Temperature.png';
                                    a.click();
                                });
                            </script>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Oxygen Level</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Heart Rate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'exportData' %}">Export CSV</a>
                        </li>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="row">
        {#        <div style="height: 85vh" class="col-md-2 card">#}
        {##}
        {#            <ul class="nav flex-column text-center">#}
        {#                <li class="nav-item">#}
        {#                    <a id="download" class="nav-link" href="#">ECG Report</a>#}
        {#                    <script>#}
        {#                        document.getElementById('download').addEventListener('click', function () {#}
        {#                            const canvas = document.getElementById('myLineChart');#}
        {#                            const url = canvas.toDataURL('image/png');#}
        {#                            const a = document.createElement('a');#}
        {#                            a.href = url;#}
        {#                            a.download = 'ECG.png';#}
        {#                            a.click();#}
        {#                        });#}
        {#                    </script>#}
        {##}
        {#                </li>#}
        {#                <li class="nav-item">#}
        {#                    <a id="temp" class="nav-link" href="#">Temperature</a>#}
        {#                    <script>#}
        {#                        document.getElementById('temp').addEventListener('click', function () {#}
        {#                            const canvas = document.getElementById('myChart');#}
        {#                            const url = canvas.toDataURL('image/png');#}
        {#                            const a = document.createElement('a');#}
        {#                            a.href = url;#}
        {#                            a.download = 'Temperature.png';#}
        {#                            a.click();#}
        {#                        });#}
        {#                    </script>#}
        {#                </li>#}
        {#                <li class="nav-item">#}
        {#                    <a class="nav-link" href="#">Oxygen Level</a>#}
        {#                </li>#}
        {#                <li class="nav-item">#}
        {#                    <a class="nav-link " href="#">Heart Rate</a>#}
        {#                </li>#}
        {#                <li class="nav-item">#}
        {#                    <a class="nav-link " href="{% url 'exportData' %}">Export CSV</a>#}
        {#                </li>#}
        {#            </ul>#}
        {##}
        {#        </div>#}

        <div class="col-md-12 ">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-6">
                        <canvas id="myLineChart" height="100"></canvas>
                        <script>
                            var ecg = document.getElementById('myLineChart').getContext('2d');
                            var myLineChart = new Chart(ecg, {
                                type: 'line',
                                data: {
                                    labels: {{ ecg_cnt }}, // Your x-axis labels
                                    datasets: [{
                                        label: 'E C G',
                                        data: {{ecg}}, // Your data points
                                        backgroundColor: 'rgb(255,152,0)',
                                        borderColor: 'rgb(255,0,0)',
                                        borderWidth: 1,
                                        fill: false
                                    }]
                                },
                                options: {
                                    scales: {
                                        x: {
                                            beginAtZero: true
                                        },
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>
                        <h5 class="description text-center"> ECG DATA</h5>
                    </div>

                    <div class="col-md-6">
                        <canvas id="gsrChart" height="100"></canvas>
                        <script>
                            var gsr = document.getElementById('gsrChart').getContext('2d');
                            var myLineChart = new Chart(gsr, {
                                type: 'line',
                                data: {
                                    labels: {{ ecg_cnt }}, // Your x-axis labels
                                    datasets: [{
                                        label: 'G S R',
                                        data: {{gsr}}, // Your data points
                                        backgroundColor: 'rgb(255,152,0)',
                                        borderColor: 'rgb(255,0,0)',
                                        borderWidth: 1,
                                        fill: false
                                    }]
                                },
                                options: {
                                    scales: {
                                        x: {
                                            beginAtZero: true
                                        },
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>
                        <h5 class="description text-center "> GSR DATA</h5>
                    </div>
                    


                    <div class="col-md-4">
                        <div class="row">

                            <canvas id="myChart" height="200"></canvas>
                            <script>
                                const ctx = document.getElementById('myChart');

                                new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: {{ y }},
                                        datasets: [{
                                            label: 'Temperature',
                                            data: {{ y }},
                                            backgroundColor: 'rgb(255,152,0)',
                                            borderColor: 'rgb(225,9,9)',
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            </script>


                            <div class="col-1"></div>

                            {#                            {% for t in z %}#}
                            {#                                <div style="margin-left: 10px" class="col-2">  {{ t|date:'H:i:s' }}</div>#}
                            {#                            {% endfor %}#}

                            <div class="description text-center">
                                <h5>Temperature</h5>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="row">

                            <canvas id="heartChart" height="200"></canvas>
                            <script>
                                const heart = document.getElementById('heartChart');

                                new Chart(heart, {
                                    type: 'bar',
                                    data: {
                                        labels: {{ hr }},
                                        datasets: [{
                                            label: 'Heart Rate',
                                            data: {{ hr }},
                                            backgroundColor: 'rgb(255,152,0)',
                                            borderColor: 'rgb(225,9,9)',
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            </script>


                            <div class="col-1"></div>


                            <div class="description text-center">
                                <h5>Heart-rate</h5>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-4">
                        <div class="row">

                            <canvas id="spo2_chart" height="200"></canvas>
                            <script>
                                const spo2 = document.getElementById('spo2_chart');

                                new Chart(spo2, {
                                    type: 'bar',
                                    data: {
                                        labels: {{ spo2 }},
                                        datasets: [{
                                            label: 'SPO2',
                                            data: {{ spo2 }},
                                            backgroundColor: 'rgb(255,152,0)',
                                            borderColor: 'rgb(225,9,9)',
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            </script>


                            <div class="col-1"></div>


                            <div class="description text-center">
                                <h5>SPO2</h5>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


</div>


<div class=""></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>